<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="background-image: url('blank.png'); background-size: cover; background-position: center; border: 1px solid #ccc; padding: 20px; font-family: Arial, sans-serif; width: 210mm; height: 297mm;">
        <div style="padding-top: 250px; padding-left: 80px; padding-right: 50px; ">
            <div style="margin-top: 20px;">
                <p><strong>Ref:</strong> <span id="uniqueRegNumber"></span></p>
                <p><strong>Date:</strong> <span id="dateGenerated"></span></p>
            </div>

            <div style="margin-top: 50px; margin-bottom: 50px;">
                <h4>So'ralgan joyga</h4>
                <h3 style="text-align: center;">Ma'lumotnoma</h3>
                <p>
                    Toshkent shahridagi Xalqaro Vestminster Universiteti shuni ma'lum qiladiki,
                    <strong><span id="fullName"></span></strong> <span id="courseName"></span>
                    yo'nalishi bo'yicha
                    <span id="academicYear"></span> o'quv yilining
                    <span id="levelHemis"></span>-bosqich talabasi (Level <span id="level"></span>).
                </p>
                <p>
                    Yana shuni qo'shimcha tarzda ma'lum qilamizki, Umumta'lim yo'nalishi bo'yicha
                    birinchi bosqich bir o'quv yildan (Level 3) va bakalavr darajasi o'qish muddati uch o'quv
                    yili bo'lib, 2,3,4 bosqichlardan iborat (Level 4,5,6).
                </p>
                <p>
                    Qo'shimcha ma'lumot olish uchun TXVU O'quv boshqarmasiga murojaat qilishingiz mumkin.
                </p>
            </div>

            <div style="margin-top: 40px;">
                <p style="padding-bottom:5px;"><strong>Nilufar Shernazarova</strong><br /></p>
                <p>O'quv boshqarmasi boshlig'i</p>
            </div>
        </div>
    </div>
</body>
</html>
