<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Content/fonts/Wellington/stylesheet.css">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>

<body>
    <img src="http://localhost:5058/templates/01/BackImage.png" class="background-img">
    <div class="wu-certificate">
        <div class="wu-main-part">
            <div class="wu-username">Tom Smith</div>
            <div class="wu-cause">
                for participating in the professional development course
            </div>
            <div class="wu-eventname">My first event Name (En)</div>
        </div>
        <div>
            <div class="wu-signators">

                <div class="wu-signature">
                    <div class="wu-signaturer-name">Abdujalil Chuliev</div>
                    <div class="wu-signature-place"></div>
                    <div class="wu-position-signator">Accountant and Chief Auditor Of the Republic of Uzbekistan</div>
                    <div class="wu-org-signator">Central Bank and Commercial Banks of the Republic of Uzbekistan</div>
                </div>
                <div class="wu-signature">
                    <div class="wu-signaturer-name">Муниса Нармухамедова</div>
                    <div class="wu-signature-place"></div>
                    <div class="wu-position-signator">Accountant and Chief Auditor Of the Republic of Uzbekistan</div>
                    <div class="wu-org-signator">Central Bank and Commercial Banks of the Republic of Uzbekistan</div>
                </div>
            </div>
            <div id="cert_qr">
                <div class="wu-qr-box">
                    <div class="wu-qr-number">E230001</div>
                    <div class="wu-qr">
                        <img src="qrcode.png" class="wu-img-qr">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>