@page
@using HtmlAgilityPack
@using ChangeSpanDateFormat.Extensions

@functions{
    string WriteFormattedDate()
    {
        HtmlDocument htmlDoc = new HtmlDocument();
        htmlDoc.LoadHtml(@"<html>
                <body>
                    <span id='exampleId'>dd MMM yyyy</span>
                </body>
              </html>");

        string elementId = "exampleId";
        DateTime newValue = DateTime.Now;

        return ChangeDateSpan(htmlDoc, elementId, newValue);
    }
    string ChangeDateSpan(HtmlDocument htmlDoc, string elementId, DateTime newValue)
    {
        string result = "";
        HtmlNode spanElement = htmlDoc.DocumentNode.SelectSingleNode("//span[@id='" + elementId + "']");

        if (spanElement != null)
        {
            string dateFromSpan = spanElement.InnerHtml;
            result = newValue.ToCustomDateString(dateFromSpan);
        }
        return result;
    }
}

<span>
    @WriteFormattedDate();
</span>
