@page
@model HtmlToPdfWeb.Pages.Examples1.PuppeteerFormToPdfModel

<div class="container mt-2">
    <form class="p-2 border rounded bg-light" method="post">
        <div class="mb-3">
            <label class="form-label">Ref</label>
            <input type="text" class="form-control" name="uniqueRegNumber" placeholder="Registration Number" />
        </div>
        <div class="mb-3">
            <label class="form-label">Ref</label>
            <input type="date" class="form-control" name="dateGenerated" />
        </div>
        <div class="mb-3">
            <label class="form-label">Full Name</label>
            <input type="text" class="form-control" name="fullName" placeholder="Enter your full name" />
        </div>
        <div class="mb-3">
            <label class="form-label">Academic Year</label>
            <input type="text" class="form-control" name="academicYear" placeholder="Enter academic year" />
        </div>
        <div class="mb-3">
            <label class="form-label">Course</label>
            <input type="text" class="form-control" name="course" placeholder="Enter course name" />
        </div>
        <div class="mb-3">
            <label class="form-label">Level</label>
            <input type="text" class="form-control" name="level" placeholder="Enter level" />
        </div>
        <button type="submit" class="btn btn-primary">Generate PDF</button>
    </form>
</div>