@page
@model HtmlToPdfWeb.Pages.Examples1.SelectPdfTestModel
@{
}
<iframe src="/templates/01/index.html" style="width:300mm;height:210mm;"></iframe>
<form method="post">
    <input type="submit" value="HtmlToPdf" />
</form>