@page
@model QuillEditor.Pages.CKEditorTest.BasicQuillModel

@{
    ViewData["Title"] = "Home page";
}
<link href="~/editors/quill.snow.css" rel="stylesheet" />
<script src="~/editors/quill.js"></script>
<script src="~/editors/quill-image-resize-module.js"></script>
<style>
    /* A4 size settings */
    .editor-container {
        width: 210mm;
        height: 297mm;
        border: 1px solid #ccc; /* Optional: to visualize the A4 border */
        margin: 0 auto; /* Center the editor */
        /* //padding: 10px; Optional: padding inside the editor */
        overflow: auto; /* Enable scrolling */
    }
</style>
<form id="quillForm" method="post">
    <button type="submit">Submit</button>
    <div class="editor-container">
        <div id="editor">
            @Html.Raw(Model.htmlTemplate)
        </div>
    </div>
    <input type="hidden" name="editorContent" id="editorContent" />
</form>

<script>
    let quill; // Declare quill in a broader scope

    window.onload = function () {
        // Check if Quill is defined
        if (typeof Quill !== 'undefined') {
            console.log("Quill is defined");

            // Check if the image resize module is defined
            if (typeof Quill.import('modules/imageResize') !== 'undefined') {
                console.log("Image Resize Module is defined");

                // Register the image resize module
                Quill.register('modules/imageResize', Quill.import('modules/imageResize'));

                const toolbarOptions = [
                    ['bold', 'italic', 'underline', 'strike'], ['image'],
                    [{ 'font': ['arial', 'serif', 'monospace', 'sans-serif'] }],  // Font options
                    [{ 'header': 1 }, { 'header': 2 }],
                    [{ 'list': 'ordered' }, { 'list': 'bullet' }],
                    [{ 'align': [] }],
                    ['clean']  // Clear formatting
                ];

                // Initialize the Quill editor
                quill = new Quill('#editor', {
                    theme: 'snow',
                    modules: {
                        toolbar: toolbarOptions,
                        imageResize: {
                            modules: ['Resize', 'DisplaySize']
                        }
                    }
                });

                // Set up form submission
                document.getElementById('quillForm').onsubmit = function (event) {
                    document.getElementById('editorContent').value = quill.root.innerHTML;
                };
            } else {
                console.error('Image resize module is not defined.');
            }
        } else {
            console.error('Quill is not defined.');
        }
    };   
</script>


